/* ------ Layout ------ */
.header {
  grid-area: header;
  height: var(--spacings-2xl);

  background-color: var(--color-accent);
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 120rem;

  font-size: var(--font-sm);
  font-weight: bold;
  color: var(--color-secondary);
  text-align: center;
  text-transform: uppercase;
}

.menu-wrapper {
  grid-area: menu;

  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--spacings-2xl);

  border-bottom: 1px solid var(--color-border);
}

.menu-nav {
  height: 100%;
  max-width: 120rem;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.menu-item a {
  padding: var(--spacings-xs) var(--spacings-md);

  font-size: var(--font-sm);
  text-transform: uppercase;
}

.menu-item a:hover {
  border-bottom: 3px solid var(--color-accent);
}

.main {
  grid-area: main;

  display: grid;
  grid-template-columns: 0.35fr 1fr;
  grid-template-areas: 'sidebar content';

  width: 100%;
}

.sidebar {
  grid-area: sidebar;

  padding: var(--spacings-md);

  border-right: 1px solid var(--color-border);
}

.sidebar-item + .sidebar-item {
  margin-top: var(--spacings-sm);
}

.sidebar h3 {
  color: var(--color-accent);
}

.content {
  grid-area: content;
  padding: var(--spacings-xl);
}

.content h1 {
  margin-bottom: var(--spacings-xs);
  color: var(--color-accent);
}

.content h2,
h3,
h4,
h5,
h6 {
  margin: var(--spacings-xs) 0;
}

.content h2 {
  line-height: 1.15;
}

.content p {
  line-height: 1.5;
  hyphens: auto;
}

.content p + p {
  margin-top: var(--spacings-xs);
}

.content code {
  padding: 0.16rem 0.48rem;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: #dbdbdb;
}

.content article {
  max-width: 96rem;
}

.content time {
  display: block;
  margin: 2.4rem 0;
  padding-left: 1rem;

  font-size: var(--font-sm);
  font-weight: bold;

  border-left: 4px solid var(--color-accent);
}

.content blockquote {
  padding: var(--spacings-2xs) var(--spacings-sm);
  margin: var(--spacings-md) 0;

  font-style: italic;

  border-left: 4px solid var(--color-accent);
}

.content section + hr {
  margin: var(--spacings-lg) 0;
}

.btn-container {
  display: flex;
}

footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--spacings-2xl);

  font-size: var(--font-sm);

  background: var(--color-primary);
  border-top: 1px solid var(--color-border);
}
